# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
venv/

# Entorno / editores
.env
.DS_Store
*.swp
.vscode/
.idea/

# Salidas temporales
*.log
tmp/


# Auxiliares de LaTeX de la presentacion
informe/presentacion.aux
informe/presentacion.log
informe/presentacion.nav
informe/presentacion.out
informe/presentacion.snm
informe/presentacion.toc
